*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page_site1{
    width: 100vw;
    height: 100vh;
    background-color: #10131d;
    display: flex;
}
.page1_1{
    width: 25vw;
    height:100vh;
    background-color: #191d2b;
    position: relative;
    top: 0;
    left: 0;
}
.page1_1 .img_profile{
    padding: 30px 40px ;
}
img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10%;    
}

.common {
   
    text-transform: uppercase;   
    height: 13%;
    width: 70%;  
    padding: 3% 0 0% 15%;
    margin-left: 20px;
}
.common a{
     text-decoration: none;
      color: white;
      width: 100%;
      height: 100%;
}

.common:hover {
background-color: #2049c5;
}

.page1_2{
    width: 70vw;
    height: 100vh;
    color: white;
    
}
.page1_2 h1{
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
.page1_2 li
{
    padding-top: 30px;
    font-size: 20px;
}
.page1_2 ul {
    padding-left: 50px;
}
.page1_2 li a{
    text-decoration: none;
    color: white;
}
.page1_2 li a:hover{
    color:  #2049c5;
}
.page2_2{
    width: 75vw;
    height: 100vh;
    color: white;    
}
.page2_2 h1{
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
.cixislar {
    width: 100%;
    height: 100%;
    padding-left: 6%;
  }
.gallery{
    width: 30%;
    height: 35%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid gray;
    background-color: #191d2b;
    
}
.gallery img {
   width: 100%;
   height: 60%;
   border-radius: 0;

  }
  
.melumat {
    width: 75%;
    padding: 20px 0 20px 20px;
    text-align: center;
  }

.melumat a{
    text-decoration: none;
    color: white;
    
}
.melumat a:hover{
    color:#2049c5;
}
.page3_2{
    width: 70vw;
    height: 100vh;
    color: white; 
    font-weight: initial;
}
.page3_2 h1{
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
}

.page3_2 li
{
    padding-top: 25px;
    font-size: 22px;
}
.page3_2 li a{
    text-decoration: none;
    color: white;
}
.page3_2 li a:hover{
color: #2049c5;
}
.page3_2 div{
    padding-left: 20px;
}
.page3_2 h3 {
    padding: 20px 0 10px 50px;
    font-size: 26px;
}














